/* Resetting default browser styles */
html,
body {
  margin: 0;
  padding: 0;
}

/* Container for the content */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Heading styles */
.heading {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Paragraph styles */
.paragraph {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Image styles */
.img-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.img-wrapper img {
  max-width: 100%;
  height: auto;
}

/* Link styles */
.a {
  color: #00a762; /* Change link color to blue */
  text-decoration: none;
}
