/* Paragraph styles */
.p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Image styles */
.img-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.img-wrapper img {
  max-width: 100%;
  height: auto;
}

.article {
  margin: 100px;
  margin-top: 20px;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
}

.section {
  margin-top: 20px;
}
