article {
  margin: 100px;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-icon {
  margin-left: 10px;
  cursor: pointer;
}

h2,
h3 {
  margin-bottom: 20px; /* Adjust the space below headings */
}

p {
  margin-bottom: 15px; /* Adjust the space below paragraphs */
}

.section,
.sub-section {
  margin-bottom: 30px; /* Adjust the space between sections and sub-sections */
}

.lesson-navigation-buttons {
  display: flex;
  justify-content: space-between;
}
