.module {
  margin: 100px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.heading {
  margin-bottom: 20px; /* Adjust the space below headings */
}

.paragraph {
  margin-bottom: 15px; /* Adjust the space below paragraphs */
}

.section,
.subSection {
  margin-bottom: 30px; /* Adjust the space between sections and sub-sections */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .module {
    margin: 50px;
    margin-top: 10px;
  }

  .title {
    font-size: 24px; /* Smaller font size for smaller screens */
    margin-bottom: 15px;
  }

  .titleContainer {
    flex-direction: column; /* Stack title and icon vertically on smaller screens */
    align-items: flex-start;
  }

  .heading,
  .paragraph,
  .section,
  .subSection {
    margin-bottom: 10px; /* Less space below elements on smaller screens */
  }
}
