.module {
  margin: 100px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-icon-wrapper {
  display: flex;
  gap: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 1.2rem;
}

.title-icon-wrapper img {
  width: 20px;
}

.title-icon-wrapper:hover {
  background-color: #f0f0f0; /* Light grey background on hover */
  border-radius: 5px; /* Slight rounding of corners */
  transform: scale(1.1); /* Slightly enlarge the image on hover */
}

.heading {
  margin-bottom: 20px; /* Adjust the space below headings */
}

.paragraph {
  margin-bottom: 15px; /* Adjust the space below paragraphs */
}

.section,
.sub-section {
  margin-bottom: 30px; /* Adjust the space between sections and sub-sections */
}

.lesson-navigation-buttons {
  display: flex;
  justify-content: space-between;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .module {
    margin: 50px;
    margin-top: 10px;
  }

  .title {
    font-size: 24px; /* Smaller font size for smaller screens */
    margin-bottom: 15px;
  }

  .title-container {
    flex-direction: column; /* Stack title and icon vertically on smaller screens */
    align-items: flex-start;
  }

  .title-icon {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .heading,
  .paragraph,
  .section,
  .sub-section {
    margin-bottom: 10px; /* Less space below elements on smaller screens */
  }

  .lesson-navigation-buttons {
    gap: 10px; /* Add space between stacked buttons */
  }
}
