.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 175px;
  border: solid 2px lightgray;
  border-radius: 10px;
  background-color: #fafaf5;
  padding: 10px;
}

.card h1 {
  font-size: 1rem;
  font-weight: strong;
  margin-bottom: 10px;
}
