header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.company {
  display: flex;
  align-items: center;
  color: var(--rich-green);
  margin-left: 20px;
}

.links {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links a:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--rich-green);
  color: white;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
