.lessons {
  background-color: var(--rich-green);
  color: white;
  padding: 50px;
}

.lessons h1 {
  margin-left: 350px;
  margin-right: 350px;
}

.lessons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightgrey;
  gap: 25px;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 50px;
  padding: 50px;
  border: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 20px;
  max-height: calc(100vh - 385px);
  overflow-y: auto;

  /* Custom scrollbar styles */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: darkgrey lightgrey; /* For Firefox: thumb and track color */

  /* For Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: lightgrey; /* Color of the track */
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey; /* Color of the scrollbar thumb */
    border-radius: 20px; /* Rounded corners on the scrollbar thumb */
    border: 3px solid lightgrey; /* Creates padding around the scrollbar thumb */
  }
}

.lessons-container a {
  display: flex;
  width: 100%;
  height: 300px;
  background-color: var(--mint-green);
  border-radius: 10px;
}

.lessons-container a img {
  min-width: 50%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
