.lessons {
  background-color: var(--rich-green);
  color: white;
  padding: 50px;
}

.lessons h1 {
  margin-left: 350px;
  margin-right: 350px;
}

.lessons-container {
  display: grid;
  grid-template-columns: 1fr; /* Ensures only one column */
  gap: 25px; /* Maintains gap between grid items */
  justify-content: center; /* Centers the grid items */
  background-color: lightgrey;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 50px;
  padding: 50px;
  border: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 20px;
  margin-bottom: 100px;
  overflow-x: auto;
}

.lessons-container a {
  display: flex;
  width: 100%;
  height: 300px;
  background-color: var(--mint-green);
  border-radius: 10px;
}

.lessons-container a img {
  min-width: 500px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.module-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  max-height: 181px;
}

.module-description h2 {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .lessons h1 {
    margin: 0; /* Removes margin */
    text-align: center; /* Centers the title */
  }

  .lessons-container {
    margin-left: 50px;
    margin-right: 50px;
  }

  .lessons-container a {
    flex-direction: column; /* Changes grid to column */
    max-height: 500px; /* Adjusted for responsiveness */
    overflow-y: auto;
  }

  .lessons-container a img {
    width: 100%; /* Adjusted for responsiveness */
    height: 100%; /* Adjusted for responsiveness */
    border-radius: 10px 10px 0 0; /* Adjusted for responsiveness */
  }
}
